<table>
  <h2>Book detail</h2>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
</table>
<% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path %>
  <% end %>

<% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
